on:
  pull_request:
    types: [opened, reopened]

name: Build

env:
  WIN_BUILDER_IMAGE: dxfeedcapi/builder:1809-4.5.2-2015
  DOCS_ARTIFACT_TEMPLATE: dxfeed-c-api-%VERSION%-docs
  LINUX_ARTIFACT_TEMPLATE: dxfeed-c-api-%VERSION%-linux
  CENTOS_ARTIFACT_TEMPLATE: dxfeed-c-api-%VERSION%-centos
  WINDOWS_ARTIFACT_TEMPLATE: dxfeed-c-api-#VERSION#-windows
  WINDOWS_BUILD_TEMPLATE: dxfeed-c-api-#VERSION#
  WIN_SRC_DIR: "C:\\dxfeed-c-api"
  RELEASE_PREFIX: "dxFeed C API "
  BUILD_VERSION: 0.0.0-pr


jobs:

  # --------------------------- CI TEST
  test:
    runs-on: ubuntu-latest
    name: ci test
    steps:

      - name: Set env
        run: |
          echo ::set-env name=RELEASE_VERSION::${BUILD_VERSION}
          echo ::set-env name=ARTIFACT::$(echo ${DOCS_ARTIFACT_TEMPLATE} | sed "s/%VERSION%/${BUILD_VERSION}/g")

      - name: Check env
        run: |
          echo Github Ref: ${GITHUB_REF}
          echo Artifact  : ${{ env.ARTIFACT }}
          echo Release   : ${{ env.RELEASE_VERSION }}

      - uses: actions/checkout@master


# --------------------------- BUILD DOCUMENTATION
  build_docs:
    runs-on: ubuntu-latest
    name: build documentation
    steps:
      - name: Set env
        run: |
          echo ::set-env name=RELEASE_VERSION::${BUILD_VERSION}
          echo ::set-env name=ARTIFACT::$(echo ${DOCS_ARTIFACT_TEMPLATE} | sed "s/%VERSION%/${BUILD_VERSION}/g")
      - name: Check env
        run: |
          echo Artifact: ${{ env.ARTIFACT }}
          echo Release : ${{ env.RELEASE_VERSION }}

      - uses: actions/checkout@master

#      - name: Build documentation
#        uses: ./.github/actions/doxygen
#        id: build-docs
#        with:
#          artifact: ${{ env.ARTIFACT }}
#          release: ${{ env.RELEASE_VERSION }}
#      - uses: actions/upload-artifact@v1
#        with:
#          name: ${{ env.ARTIFACT }}.zip
#          path: artifact/${{ env.ARTIFACT }}.zip


# --------------------------- BUILD LINUX LIBRARY (WITH TLS SUPPORT)
  build_linux_tls:
    runs-on: ubuntu-latest
    name: build linux (TLS)
    steps:
      - name: Set env
        run: |
          echo ::set-env name=RELEASE_VERSION::${BUILD_VERSION}
          echo ::set-env name=ARTIFACT::$(echo ${LINUX_ARTIFACT_TEMPLATE} | sed "s/%VERSION%/${BUILD_VERSION}/g" )
      - name: Check env
        run: |
          echo Artifact: ${{ env.ARTIFACT }}
          echo Release : ${{ env.RELEASE_VERSION }}

      - uses: actions/checkout@master

#      - name: Build linux library (TLS)
#        uses: ./.github/actions/linux
#        id: build-linux
#        with:
#          artifact: ${{ env.ARTIFACT }}
#          release:  ${{ env.RELEASE_VERSION }}
#      - uses: actions/upload-artifact@v1
#        with:
#          name: ${{ env.ARTIFACT }}.zip
#          path: artifact/${{ env.ARTIFACT }}.zip


# --------------------------- BUILD LINUX LIBRARY (WITHOUT TLS SUPPORT)
  build_linux_no_tls:
    runs-on: ubuntu-latest
    name: build linux (no TLS)
    steps:
      - name: Set env
        run: |
          echo ::set-env name=RELEASE_VERSION::${BUILD_VERSION}
          echo ::set-env name=ARTIFACT::$(echo ${LINUX_ARTIFACT_TEMPLATE} | sed "s/%VERSION%/${BUILD_VERSION}/g" )
      - name: Check env
        run: |
          echo Artifact: ${{ env.ARTIFACT }}
          echo Release : ${{ env.RELEASE_VERSION }}

      - uses: actions/checkout@master

#      - name: Build linux library (no TLS)
#        uses: ./.github/actions/linux
#        id: build-linux-nt
#        with:
#          artifact: ${{ env.ARTIFACT }}
#          release:  ${{ env.RELEASE_VERSION }}
#          notls: true
#      - uses: actions/upload-artifact@v1
#        with:
#          name: ${{ env.ARTIFACT }}-no-tls.zip
#          path: artifact/${{ env.ARTIFACT }}-no-tls.zip


# --------------------------- BUILD OLD LINUX (CENTOS 6.1) LIBRARY (WITH TLS SUPPORT)
  build_centos_tls:
    runs-on: ubuntu-latest
    name: build centos (TLS)
    steps:
      - name: Set env
        run: |
          echo ::set-env name=RELEASE_VERSION::${BUILD_VERSION}
          echo ::set-env name=ARTIFACT::$(echo ${CENTOS_ARTIFACT_TEMPLATE} | sed "s/%VERSION%/${BUILD_VERSION}/g" )
      - name: Check env
        run: |
          echo Artifact: ${{ env.ARTIFACT }}
          echo Release : ${{ env.RELEASE_VERSION }}

      - uses: actions/checkout@master

#      - name: Build centos library (TLS)
#        uses: ./.github/actions/centos
#        id: build-centos
#        with:
#          artifact: ${{ env.ARTIFACT }}
#          release:  ${{ env.RELEASE_VERSION }}
#      - uses: actions/upload-artifact@v1
#        with:
#          name: ${{ env.ARTIFACT }}.zip
#          path: artifact/${{ env.ARTIFACT }}.zip


# --------------------------- BUILD OLD LINUX (CENTOS 6.1) LIBRARY (WITHOUT TLS SUPPORT)
  build_centos_no_tls:
    runs-on: ubuntu-latest
    name: build centos (no TLS)
    steps:
      - name: Set env
        run: |
          echo ::set-env name=RELEASE_VERSION::${BUILD_VERSION}
          echo ::set-env name=ARTIFACT::$(echo ${CENTOS_ARTIFACT_TEMPLATE} | sed "s/%VERSION%/${BUILD_VERSION}/g" )
      - name: Check env
        run: |
          echo Artifact: ${{ env.ARTIFACT }}
          echo Release : ${{ env.RELEASE_VERSION }}

      - uses: actions/checkout@master

#      - name: Build centos library (no TLS)
#        uses: ./.github/actions/centos
#        id: build-centos-nt
#        with:
#          artifact: ${{ env.ARTIFACT }}
#          release:  ${{ env.RELEASE_VERSION }}
#          notls: true
#      - uses: actions/upload-artifact@v1
#        with:
#          name: ${{ env.ARTIFACT }}-no-tls.zip
#          path: artifact/${{ env.ARTIFACT }}-no-tls.zip


# --------------------------- BUILD WINDOWS LIBRARY [ VS2015 ]
  build_windows:
    runs-on: windows-latest
    name: build windows
    steps:

      - name: Set env
        run: |
          echo "::set-env name=RELEASE_VERSION::$("$Env:BUILD_VERSION")"
          echo "::set-env name=ARTIFACT::$(echo $Env:WINDOWS_ARTIFACT_TEMPLATE | %{$_ -replace '#VERSION#', $Env:BUILD_VERSION })"
          echo "::set-env name=WB_ARTIFACT::$(echo $Env:WINDOWS_BUILD_TEMPLATE | %{$_ -replace '#VERSION#', $Env:BUILD_VERSION })"
#          echo "::set-env name=RELEASE_VERSION::$("$Env:GITHUB_REF".Substring(10))"
#          echo "::set-env name=ARTIFACT::$(echo $Env:WINDOWS_ARTIFACT_TEMPLATE | %{$_ -replace '#VERSION#', $("$Env:GITHUB_REF".Substring(10)) })"
#          echo "::set-env name=WB_ARTIFACT::$(echo $Env:WINDOWS_BUILD_TEMPLATE | %{$_ -replace '#VERSION#', $("$Env:GITHUB_REF".Substring(10)) })"

#  $(echo $Env:WINDOWS_ARTIFACT_TEMPLATE | %{$_ -replace '#VERSION#', $Env:BUILD_VERSION })"

      - name: Check env
        run: |
          echo "RELEASE    : ${{ env.RELEASE_VERSION }}"
          echo "ARTIFACT   : ${{ env.ARTIFACT }}"
          echo "WB_ARTIFACT: ${{ env.WB_ARTIFACT }}"

      - uses: actions/checkout@master

#      - name: Free disk space for build image
#        run: |
#          docker rm $(docker ps -aq)
#          docker image rm $(docker image ls -q)

#      - name: Pull build image
#        run: |
#          docker pull ${{ env.WIN_BUILDER_IMAGE }}
#
#      - name: Make artifacts directory
#        run: |
#          mkdir artifact
#
#      - name: Build windows (no TLS)
#        run: |
#          docker run --rm -v "${pwd}:${{ env.WIN_SRC_DIR }}" -e SRCDIR="${{ env.WIN_SRC_DIR }}" -e FLAGS="rebuild no-test no-tls" -e RELEASE=${{ env.RELEASE_VERSION }} ${{ env.WIN_BUILDER_IMAGE }}

#      - name: Copy build artifact (windows no-tls)
#        run: |
#          cp build\${{ env.WB_ARTIFACT }}-no-tls.zip artifact\${{ env.ARTIFACT }}-no-tls.zip
#          ls artifact\

#      - name: Build windows (TLS)
#        run: |
#          docker run --rm -v "${pwd}:${{ env.WIN_SRC_DIR }}" -e SRCDIR="${{ env.WIN_SRC_DIR }}" -e FLAGS="rebuild no-test" -e RELEASE=${{ env.RELEASE_VERSION }} ${{ env.WIN_BUILDER_IMAGE }}

#      - name: Copy build artifact (windows)
#        run: |
#          cp build\${{ env.WB_ARTIFACT }}.zip artifact\${{ env.ARTIFACT }}.zip
#          ls artifact\
#
#      - name: Upload build artifact (no TLS)
#        uses: actions/upload-artifact@v1
#        with:
#          name: ${{ env.ARTIFACT }}-no-tls.zip
#          path: artifact/${{ env.ARTIFACT }}-no-tls.zip
#
#      - name: Upload build artifact (TLS)
#        uses: actions/upload-artifact@v1
#        with:
#          name: ${{ env.ARTIFACT }}.zip
#          path: artifact/${{ env.ARTIFACT }}.zip
